:root {
    --primary-color: #141824;
    --secondary-color: #ffb600;
    --tertiary-color: #0049ff;
    --linear-gradients: linear-gradient(to right, #141824, #0049ff);
    --font-family1: 'Poppins', sans-serif;
    --font-family2: 'Lato', sans-serif;
    --paddings: 1rem;
    --border: 2px solid red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
}

#header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--paddings);
    border: var(--border);
    background: var(--linear-gradients);
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    column-gap: 0.625rem; /*10px*/
}

.image {
    height: 10vh;
}

.image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.site-name {
    display: flex;
    align-items: flex-end;
}

.site-name h1 {
    font-family: var(--font-family2);
    font-style: normal;
    font-weight: 600;
    font-size: 2.1875rem; /*35px*/
}

.site-nav {
    border: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navi-list-container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#navi-list-container a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--font-family2);
    font-size: 1.5rem; /*24px*/
}